<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>KikiService</title>
</head>

<body>
    <main>
        <nav class="navegation-section" id="navegationSection">

        </nav>
        <section class="service-section">

            <div class="list-all-section">
                <h3>Lista de serviços</h3>

                <div class="list-section" id="listSection">

                </div>

            </div>


            <div class="off-service">
                <h3>Mande seu pedido</h3>
                <img src="./styles/img/pngegg.png" alt="">
            </div>

        </section>



        <div class="user-loading" id="loading">
            <span>Carregando...</span>
        </div>

        <section class="post-section">
            <div class="">
                <H1 id="title-userpage">
                    Adicionar serviços
                </H1>
            </div>

            <form class="form-post-section" action="">
                <input type="text" placeholder="coloque seu pedido">
            </form>

        </section>


    </main>


    <script src="./scripts/script.js"></script>
</body>

</html>