<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/styles.css">
    <title>KikiService</title>
</head>

<body>
    <main>

        <section>
            <div class="user-service">

                <div class="user-loading" id="loading">
                    <span>Carregando...</span>
                </div>

                <H1 id="title-userpage"></H1>

            </div>
        </section>


        <table class="user-table">
            <tbody id="order">

            </tbody>
        </table>

    </main>

    <script src="./scripts/script.js"></script>
</body>

</html>